*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #ddd;
  padding: 16px;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.form-group {
  margin-bottom: 0;
}
label {
  font-weight: 700;
}
.invalid-mess {
  font-size: 14px;
  color: red;
  visibility: hidden;
}
.vacxin-date{
    display: none;
}
.a{
    display: block;
}
.form-top,
.table-bottom {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
